<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse" style="height:100%; position:fixed">
                <div class="position-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            @Html.ActionLink("School Management ", "Index", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("DashBoard", "DashBoard", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Finance", "Accounts", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Student", "Students", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Teachers", "Teachers", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Notices", "Notices", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Attendance", "Attendance", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Classes", "Classes", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Departments", "Departments", "Home", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("LogOut", "LogOut", "Log", new { area = "" }, new { @class = "nav-link text-white p-3" })
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Main content area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="background-color:lightgrey">
                @RenderBody()
                <hr />
                <footer class="text-center">
                    <p>&copy; @DateTime.Now.Year - Developed by Trilok Chand Swami</p>
                </footer>
            </main>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tbJquerytable').DataTable({
                paging: true
            });
        });
    </script>
</body>
</html>
