@model SchoolBookManagementRecord.Models.Student

<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center text-capitalize">Change the Data here of a Student</h2>
            <br />
            @using (Html.BeginForm("UpdateStudentData", "StudentUtility", FormMethod.Post))
            {<div class="d-flex justify-content-evenly align-items-center">
                    <div style="width:400px; padding: 10px 5px">
                        <div class="form-group">
                            @Html.Label("SR No :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Id, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("First Name :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Class :", new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Class, new SelectList(Enum.GetValues(typeof(SchoolBookManagementRecord.Models.ClassName))), "Select Class", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Fathers Name :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Address :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Moblie :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                    <div style="width:400px ; padding: 12px 5px">
                        @Html.Label("Mobile :", new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", required = "required" })
                        <div class="form-group">
                            @Html.Label("Last Name :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Gender :", new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(SchoolBookManagementRecord.Models.GenderType))), "Select Gender", new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Mothers Name :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Remarks :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", required = "required" })
                        </div>
                        <div class="form-group">
                            @Html.Label("Email :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center"><button type="submit" class="btn btn-primary"> Update </button></div>
            }
        </div>
    </div>
</div>
